<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer pagina web</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/066516fd69.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <header class="head">
            <div class="unir-search">
                <div class="logo-buscar-container">
                    <img class="tamaño-logo" src="/images/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
                    <div class="search-bar">
                        <input class="buscar" type="text" placeholder="Buscar productos, marcas">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>
                <div>
                    <h3 class="titulo-cuotas">
                        <strong>
                            <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin
                            tarjeta de crédito
                        </strong>
                    </h3>
                </div>
            </div>
            <div class="unir-nav-login">
                <nav class="navbar">
                    <ul>
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas Oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li><br>
                    </ul>
                </nav>
                <nav class="login-bar">
                    <ul>
                        <li><a href="/register">Creá tu cuenta<i class="fa-regular fa-address-card"></i></a></li>
                        <li><a href="/login">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                        <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
    
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
            <div>
                <img class="banner" src="/images/images/img-home-banner.jpg" alt="Logo banner">
            </div>
    
        </header>
    
        <main class="color-fondo">
            <div class="titulares">
                <h4>Basado en tu última visita</h4>
            </div>
            <section class="productos">
                <article class="products">
                    <img class="imagenes" src="/images/images/img-cafetera-moulinex.jpg" alt="Cafetera">
                    <div class="article">
                        <ul>
                            <i class="fa-solid fa-truck-fast"></i>
                            <div class="container-precio">
                                <li class="precios">$6.770</li>
                                <li class="descuentos">40% OFF</li>
                            </div>
                            <li class="descripcion">Cafetera Moulinex</li>
                        </ul>
                    </div>
                </article>
    
                <article class="products">
                    <img class="imagenes" src="/images/images/img-macbook-pro-2019.jpg" alt="MacBook">
                    <div class="article">
                        <ul>
                            <i class="fa-solid fa-truck-fast"></i>
                            <div class="container-precio">
                                <li class="precios">$230.000</li>
                                <li class="descuentos">20% off</li>
                            </div>
                            <li class="descripcion">MacBook Pro 2019</li>
                        </ul>
                    </div>
                </article>
    
                <article class="products">
                    <img class="imagenes" src="/images/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    <div class="articulo">
                        <ul>
                            <i class="fa-solid fa-truck-fast"></i>
                            <div class="container-precio">
                                <li class="precios">$70.500</li>
                                <li class="descuentos">10% off</li>
                            </div>
                            <li class="descripcion">Samsung Galaxy S10</li>
                        </ul>
                    </div>
                </article>
    
                <article class="products">
                    <img class="imagenes" src="/images/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                    <div class="article">
                        <ul>
                            <i class="fa-solid fa-truck-fast"></i>
                            <div class="container-precio">
                                <li class="precios">$23.200</li>
                                <li class="descuentos">5% off</li>
                            </div>
                            <li class="descripcion">SmartTv Samsung 43"</li>
                        </ul>
                    </div>
                </article>
    
            </section>
            <div class="titulares">
                <h4>Ofertas</h4>
            </div>
            <section class="productos">
                <article class="products">
                    <img class="imagenes" src="/images/images/img-cafetera-moulinex.jpg" alt="Cafetera">
                    <div class="articulo">
                        <ul>
                            <i class="fa-solid fa-truck-fast"></i>
                            <div class="container-precio">
                                <li class="precios">$6.770</li>
                                <li class="descuentos">40% OFF</li>
                            </div>
                            <li class="descripcion">Cafetera Moulinex</li>
                        </ul>
                    </div>
                </article>
    
                <article class="products">
                    <img class="imagenes" src="/images/images/img-macbook-pro-2019.jpg" alt="MacBook">
                    <div class="article">
                        <ul>
                            <i class="fa-solid fa-truck-fast"></i>
                            <div class="container-precio">
                                <li class="precios">$230.000</li>
                                <li class="descuentos">20% off</li>
                            </div>
                            <li class="descripcion">MacBook Pro 2019</li>
                        </ul>
                    </div>
                </article>
    
                <article class="products">
                    <img class="imagenes" src="/images/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    <div class="article">
                        <ul>
                            <i class="fa-solid fa-truck-fast"></i>
                            <div class="container-precio">
                                <li class="precios">$70.500</li>
                                <li class="descuentos">10% off</li>
                            </div>
                            <li class="descripcion">Samsung Galaxy S10</li>
                        </ul>
                    </div>
                </article>
    
                <article class="products">
                    <img class="imagenes" src="/images/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                    <div class="article">
                        <ul>
                            <i class="fa-solid fa-truck-fast"></i>
                            <div class="container-precio">
                                <li class="precios">$23.200</li>
                                <li class="descuentos">5% off</li>
                            </div>
                            <li class="descripcion">SmartTv Samsung 43"</li>
                        </ul>
                    </div>
                </article>
    
            </section>
        </main>
        <footer class="pie-depagina">
            <div>
                <div class="icon-pie-depagina">
                    <i class="fa-solid fa-credit-card"></i>
                </div>
                <div>
                    <h2>Pagá con tarjeta o en efectivo</h2>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>
                </div>
            </div>
            <div>
                <div class="icon-pie-depagina">
                    <i class="fa-solid fa-gift"></i>
                </div>
                <div>
                    <h2>Envío gratis desde $ 2.500</h2>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                </div>
            </div>
            <div>
                <div class="icon-pie-depagina">
                    <i class="fa-solid fa-user-shield"></i>
                </div>
                <div>
                    <h2>Seguridad, de principio a fin</h2>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
                </div>
            </div>
        </footer><br>
        <div>
            <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
        </div>
    </body>
    
    </html>