<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
  <header class="encabezado">
      <div class="unir-search">
          <div class="logo-buscar-container">
              <img class="tamaño-logo" src="/images/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
              <div class="search-bar">
                  <input class="buscar" type="text" placeholder="Buscar productos, marcas">
                  <i class="fa-solid fa-magnifying-glass"></i>
              </div>
          </div>
          <div>
              <h3 class="titulo-cuotas">
                  <strong>
                      <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin
                      tarjeta de crédito
                  </strong>
              </h3>
          </div>
      </div>
      <div class="unir-nav-login">
          <nav class="navbar">
              <ul>
                  <li><a href="#">Ofertas</a></li>
                  <li><a href="#">Tiendas Oficiales</a></li>
                  <li><a href="#">Vender</a></li>
                  <li><a href="#">Ayuda</a></li><br>
              </ul>
          </nav>
          <nav class="login-bar">
              <ul>
                  <li><a href="/register">Creá tu cuenta<i class="fa-regular fa-address-card"></i></a></li>
                  <li><a href="/login">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                  <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a>
                  </li>
              </ul>
          </nav>
      </div>

      <div class="burger-menu">
          <i class="fas fa-bars"></i>
      </div>

  </header>

  <form action="/registrar" method="get" class="register-form">

      <div class="input-group">
          <label for="nombre"></label>
          <input type="text" name="nombre" id="nombre" placeholder="Nombre de usuari@">
      </div>

      <div class="input-group">
          <label for="contraseña"></label>
          <input type="password" name="contraseña" placeholder="Contraseña">
      </div>

      <div class="input-group">
          <label></label>
          <input type="submit" value="Ingresá">
      </div>


  </form>

  <footer>
      <div class="icon-footer">
          <i class="fa-solid fa-credit-card"></i>
      </div>
      <h2>Pagá con tarjeta o en efectivo</h2>
      <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
          puntos de pago. ¡Y siempre es seguro!</p>

      <div class="icon-footer">
          <i class="fa-solid fa-gift"></i>
      </div>
      <h2>Envío gratis desde $ 2.500</h2>
      <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
          productos. Es un beneficio de Mercado Puntos.</p>

      <div class="icon-footer">
          <i class="fa-solid fa-user-shield"></i>
      </div>
      <h2>Seguridad, de principio a fin</h2>
      <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
          porque estás siempre protegid@.</p>

      <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>

  </footer>

</body>

</html>